.header {
  height: 105px;
  background-color: #16abf8;
  color: #fff;
  display: flex;
  align-items: center;
}

.header .h2,
.header h2 {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 55px;
}

.todo-header .h1,
.todo-header h1 {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.button {
  border-radius: 45px;
  border: 0;
  padding: 13.5px 29px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background-color: #16abf8;
  min-width: 170px px;
  width: 170px;
  height: 54px;
  color: white;
  line-height: 27px;
  letter-spacing: 1.5px;
}

.icon-plus {
  margin-right: 15px;
}

.activity-card {
  height: 234px;
  width: 235px;
  background-color: white;
  border-radius: 12px;
  padding: 22px 27px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex: 0 0 23%; /* explanation below */
  margin: 0px 5px 25px 5px;
}

.activity-card .activity-body .h4,
.activity-card .activity-body h4 {
  font-size: 18px;
  font-weight: 700;
}

.activity-card .card-footer {
  z-index: 2;
  bottom: 25px;
  background-color: white;
  display: flex;
  width: 180px;
  justify-content: space-between;
  border: 0;
  padding: 0;
  color: grey;
  font-size: 15px;
  align-items: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}
