body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
  font-family: 'Poppins', sans-serif;
}

.app-container {
  padding-left: 230px;
  padding-right: 230px;
}

@media only screen and (max-width: 1300px) {
  .app-container {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
}
